<!DOCTYPE html>
<html lang="en">

<head>
    <title>Webrtc</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <!-- <p><button id="takeProfilePicture" type="button" autofocus="true">Create Profile Picture</button></p> -->

    <video id="myVideoTag" autoplay muted></video>
    <video id="theirVideoTag" autoplay></video>

    <div>
        <label>Your Name</label><input id="myName" type="text" /><br />
        <label>Message</label><input id="myMessage" type="text" />
        <input id="sendMessage" type="submit" />
        <div id="chatArea">
            <h2>Message Output:</h2><br />
        </div>
        <div id="signalingArea">
            <h2>Signaling Output:</h2><br />
        </div>

    </div>
<script src="myscript.js"></script>
</body>

</html>
